@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
body {
  background-color: black;
}

.app {
  background-color: #f9fcfb;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  color: #272121;
  position: relative;
  max-width: 375px;
  margin: auto;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5em;
  padding: 0em 1.2rem;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  font-weight: 700;
  font-size: 1.2em;
}

header .logo span {
  color: #fd5e53;
}

header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7e7e7e;
}

header .header-right div {
  font-size: 0.7rem;
  margin-right: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.featured-card {
  position: relative;
  height: 12em;
  overflow: hidden;
}

.featured-card img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.featured-card .article-info {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 9em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  z-index: 10;
}

.featured-card .article-info::before {
  content: '';
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.featured-card .article-title {
  color: white;
  font-weight: 700;
  font-size: 1.2em;
  position: relative;
  height: 4.8em;
  overflow: hidden;
  z-index: 2;
}

.featured-card .subtext {
  color: #e4e4e4;
  position: absolute;
  bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  font-size: 0.8em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

.nav-tabs {
  width: 90%;
  margin: 1rem auto 0.5rem auto;
  font-size: 0.9em;
  border-bottom: 0.3em #e4e4e4 solid;
}

.nav-tabs .nav-link {
  color: #b1b1b1;
}

.nav-tabs .active {
  background-color: transparent !important;
  border: none;
  font-weight: 700;
  border-bottom: 0.3em #fd5e53 solid !important;
  margin-bottom: -1em;
}

.container {
  width: 90%;
  margin: auto;
  padding: 0;
}

.container .news-card {
  border-bottom: 1px #e4e4e4 solid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0 1rem 0;
}

.container .news-card .news-main {
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container .news-card .news-main .buttons {
  position: absolute;
  bottom: -1.3em;
  right: 0;
  font-size: 0.9em;
}

.container .news-card img {
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.container .news-card .news-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  font-size: 0.9rem;
  font-weight: 700;
}

.container .news-card .news-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 0.8em;
  margin-top: 1em;
}

.container .news-card .news-category {
  font-size: 0.9em;
  background-color: #fd5e53;
  color: white;
  padding: 0.2em 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.container .news-card .news-timestamp {
  color: #b1b1b1;
  font-size: 0.9em;
}

.container .news-card .news-source {
  color: #7e7e7e;
  font-size: 0.9em;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */